{include file='public/header'}
<body class="childrenBody">

<blockquote class="layui-elem-quote main_btn">
	<p>实时数据</p>
</blockquote>

<div class="layui-row layui-col-space10 panel_box">
	<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
		<a href="javascript:;" data-url="__MAN__/user/" title="用户管理">
			<div class="panel_icon layui-bg-green">
				<i class="layui-icon">&#xe612;</i>
			</div>
			<div class="panel_word">
				<span>{$arr.users}</span>
				<cite>用户数</cite>
			</div>
		</a>
	</div>
	<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
		<a href="javascript:;" data-url="__MAN__/news/" title="新闻管理">
			<div class="panel_icon layui-bg-black">
				<i class="layui-icon">&#xe705;</i>
			</div>
			<div class="panel_word">
				<span>{$arr.news}</span>
				<cite>新闻数</cite>
			</div>
		</a>
	</div>
	<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
		<a href="javascript:;" data-url="__MAN__/zixun" title="咨询管理">
			<div class="panel_icon layui-bg-red">
				<i class="layui-icon">&#xe6b2;</i>
			</div>
			<div class="panel_word">
				<span>{$arr.zxs}</span>
				<cite>咨询数</cite>
			</div>
		</a>
	</div>
	<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
		<a href="javascript:;" data-url="__MAN__/inst" title="仪器管理">
			<div class="panel_icon layui-bg-orange">
				<i class="layui-icon">&#xe628;</i>
			</div>
			<div class="panel_word">
				<span>{$arr.yqs}</span>
				<cite>仪器数</cite>
			</div>
		</a>
	</div>
	<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
		<a href="javascript:;" data-url="__MAN__/inst_yy" title="预约管理">
			<div class="panel_icon layui-bg-cyan">
				<i class="layui-icon">&#xe637;</i>
			</div>
			<div class="panel_word">
				<span>{$arr.yys}</span>
				<cite>预约数</cite>
			</div>
		</a>
	</div>
	<div class="panel layui-col-xs12 layui-col-sm6 layui-col-md4 layui-col-lg2">
		<a href="javascript:;" data-url="__MAN__/video" title="视频管理">
			<div class="panel_icon layui-bg-blue">
				<i class="layui-icon">&#xe623;</i>
			</div>
			<div class="panel_word">
				<span>{$arr.sps}</span>
				<cite>视频数</cite>
			</div>
		</a>
	</div>
</div>

<div class="layui-row layui-col-space10">
	<div class="layui-col-lg6 layui-col-md12">
		<blockquote class="layui-elem-quote title">系统基本参数</blockquote>
		<table class="layui-table magt0">
			<colgroup>
				<col width="150">
				<col>
			</colgroup>
			<tbody>
			<tr>
				<td>当前版本</td>
				<td class="version">{:config('gocms.version')}</td>
			</tr>
			<tr>
				<td>开发作者</td>
				<td class="author">{:config('gocms.author')}</td>
			</tr>
			<tr>
				<td>网站首页</td>
				<td class="url">{:config('gocms.url')}</td>
			</tr>
			<tr>
				<td>服务器环境</td>
				<td class="server">{:config('gocms.server')}</td>
			</tr>
			<tr>
				<td>数据库版本</td>
				<td class="database">{:config('gocms.database')}</td>
			</tr>
			</tbody>
		</table>

	</div>

</div>

{include file='public/footer'}
<script>
    layui.use(['layer'], function(){
       var layer=layui.layer
		   ,$=layui.jquery;
        $(".panel a").on("click",function(){
            window.parent.addTab($(this), '<i class="layui-icon layui-icon-wenjian"></i> '+$(this).attr('title'), $(this).attr('data-url'));
        })
	});
</script>
</body>
</html>
