{include file='public/header'}
<body>

<blockquote class="layui-elem-quote" style="text-align: right">
    <form class="layui-form layui-input-inline"  lay-filter="ssform">

        <div class="layui-input-inline">
            <input type="text" name="cname" value="{$Request.get.cname}" placeholder="仪器设备名称" class="layui-input">
        </div>
        <div class="layui-input-inline">
            <input type="text" name="instrCategoryName" id="instrCategoryName"  placeholder="请输入设备分类编码" class="layui-input" value="{$res.instrCategory|default=''}" onclick="opentree({iscode:1,tablename:'nclass_select',textid:'instrCategoryName',codeid:'instrCategory',id:1,flag:0})">
            <input type="hidden" name="instrCategory" id="instrCategory" value="{$res.instrCategory|default=''}">
        </div>
        <div class="layui-input-inline">
                <select name="lab_no">
                    <option value="">-所属实验室-</option>
                    {$res.lab_no|default=0|getTreeOption='nclass_city',1,###}
                </select>
        </div>

        <button class="layui-btn" lay-submit="" lay-filter="search"><i class="layui-icon layui-btn-icon"></i>查询</button>
        <a class="layui-btn layui-btn-success" href="__MAN__/tj/inst/Action/xls?{$Request.get|http_build_query}">导出Excel</a>
    </form>
</blockquote>

<form class="layui-form" lay-filter="dataform" method="post">
    <table width="100%" border="1" class="layui-table">
        <thead>
        <tr>
            <th>所属实验室</th>
            <th>仪器名称</th>
            <th>累计时间（分钟）</th>
            <th>服务总收入（元）</th>
            <th>样品数（个）</th>
            <th>服务次数</th>
        </tr>
        </thead>
        <tbody>
        {volist name='res' id='v'}
        <tr>
            <td>{$v.lab_no|getclassname='nclass_city',###}</td>
            <td>{$v.cname}</td>
            <td>{$v.kjs}</td>
            <td>{$v.fees}</td>
            <td>{$v.yps_all}</td>
            <td>{$v.cs}</td>

        </tr>
        {/volist}
    </table>
</form>
{if $Action=='list'}
{$res}
{include file='public/footer'}
{/if}
</body>
</html>