{include file='public/header'}
<body>
<form class="layui-form" action="__MAN__/inst/save" method="post">


	<div class="layui-form-item">
		<label class="layui-form-label">仪器设备名称</label>
		<div class="layui-input-block">
			<input type="text" name="cname" id="cname" required  lay-verify="required" placeholder="请输入仪器设备名称" class="layui-input" value="{$res.cname|default=''}">         
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">英文名称</label>
		<div class="layui-input-block">
			<input type="text" name="ename" id="ename" required  lay-verify="required" placeholder="请输入英文名称" class="layui-input" value="{$res.ename|default=''}">         
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">设备分类编码</label>
		<div class="layui-input-block">
			<input type="text" name="instrCategory" id="instrCategory" required  lay-verify="required" placeholder="请输入设备分类编码" class="layui-input" value="{$res.instrCategory|default=''}">         
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">仪器所在单位内部编码</label>
			<div class="layui-input-block">
				<input type="text" name="innerId" id="innerId" required  lay-verify="required" placeholder="请输入仪器所在单位内部编码" class="layui-input" value="{$res.innerId|default=''}">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">仪器设备来源</label>
			<div class="layui-input-block">
				<select name="instrSource" lay-verify="required">
					<option value="">- 请选择 -</option>
				</select>         
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">规格型号</label>
			<div class="layui-input-block">
				<input type="text" name="instrVersion" id="instrVersion" required  lay-verify="required" placeholder="请输入规格型号" class="layui-input" value="{$res.instrVersion|default=''}">         
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">生产制造商</label>
			<div class="layui-input-block">
				<input type="text" name="manufacturer" id="manufacturer" required  lay-verify="required" placeholder="请输入生产制造商" class="layui-input" value="{$res.manufacturer|default=''}">         
			</div>
		</div>		
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">启用日期</label>
			<div class="layui-input-block">
				<input type="text" name="beginDate" id="beginDate" required  lay-verify="required" placeholder="请输入启用日期" class="layui-input" value="{$res.beginDate|default=''}">         
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">原值</label>
			<div class="layui-input-block">
				<input type="number" name="worth" required  lay-verify="number" placeholder="请输入原值" class="layui-input">         
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">产地国别</label>
			<div class="layui-input-block">
				<input type="text" name="nation" id="nation" required  lay-verify="required" placeholder="请输入产地国别" class="layui-input" value="{$res.nation|default=''}">
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">是否海关监管</label>
			<div class="layui-input-block">
				<input type="checkbox" name="instrSupervise" lay-skin="switch"  lay-text="ON|OFF">
			</div>
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">操作员</label>
		<div class="layui-input-block">
			<input type="text" name="oper_user" id="oper_user" required  lay-verify="required" placeholder="请输入操作员" class="layui-input" value="{$res.oper_user|default=''}">         
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">所属实验室</label>
		<div class="layui-input-block">
			<select name="lab_no" lay-verify="required">
				<option value="">- 请选择 -</option>
			</select>         
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">仪器图片</label>
		<div class="layui-input-block">
			<input type="text" name="image" id="image" required  lay-verify="required" placeholder="请输入仪器图片" class="layui-input" value="{$res.image|default=''}">         
		</div>
	</div>


	<div class="layui-form-item">
		<label class="layui-form-label">仪器设备类别</label>
		<div class="layui-input-block">
			<select name="type" lay-verify="required">
				<option value="">- 请选择 -</option>
			</select>         
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">主要技术指标</label>
		<div class="layui-input-block">
			<textarea name="technical" placeholder="请输入主要技术指标" class="layui-textarea"></textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">主要功能</label>
		<div class="layui-input-block">
			<textarea name="function" placeholder="请输入主要功能" class="layui-textarea"></textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">服务内容</label>
		<div class="layui-input-block">
			<textarea name="serviceContent" placeholder="请输入服务内容" class="layui-textarea"></textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">服务的典型成果</label>
		<div class="layui-input-block">
			<textarea name="achievement" placeholder="请输入服务的典型成果" class="layui-textarea"></textarea>
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">主要学科领域</label>
		<div class="layui-input-block">
			<input type="text" name="subject" id="subject" required  lay-verify="required" placeholder="请输入主要学科领域" class="layui-input" value="{$res.subject|default=''}">         
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">运行状态</label>
		<div class="layui-input-block">
			<select name="status" lay-verify="required">
				<option value="">- 请选择 -</option>
			</select>         
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">对外开放共享规定</label>
		<div class="layui-input-block">
			<textarea name="requirement" placeholder="请输入对外开放共享规定" class="layui-textarea"></textarea>         
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">参考收费标准</label>
		<div class="layui-input-block">
			<textarea name="fee" placeholder="请输入参考收费标准" class="layui-textarea"></textarea>         
		</div>
	</div>

	<div class="layui-form-item">
		<label class="layui-form-label">安放地址</label>
		<div class="layui-input-block">
			<input type="text" name="region" id="region" required  lay-verify="required" placeholder="请输入安放地址" class="layui-input" value="{$res.region|default=''}">         
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">街道</label>
		<div class="layui-input-block">
			<input type="text" name="street" id="street" required  lay-verify="required" placeholder="请输入街道" class="layui-input" value="{$res.street|default=''}">         
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">房间号</label>
		<div class="layui-input-block">
			<input type="text" name="room_no" id="room_no" required  lay-verify="required" placeholder="请输入房间号" class="layui-input" value="{$res.room_no|default=''}">         
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">联系人</label>
		<div class="layui-input-block">
			<input type="text" name="contact" id="contact" required  lay-verify="required" placeholder="请输入联系人" class="layui-input" value="{$res.contact|default=''}">         
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">电话</label>
		<div class="layui-input-block">
			<input type="text" name="phone" id="phone" required  lay-verify="required" placeholder="请输入电话" class="layui-input" value="{$res.phone|default=''}">         
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">电子邮箱</label>
		<div class="layui-input-block">
			<input type="text" name="email" id="email" required  lay-verify="required" placeholder="请输入电子邮箱" class="layui-input" value="{$res.email|default=''}">         
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">通讯地址</label>
		<div class="layui-input-block">
			<input type="text" name="address" id="address" required  lay-verify="required" placeholder="请输入通讯地址" class="layui-input" value="{$res.address|default=''}">         
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">邮政编码</label>
		<div class="layui-input-block">
			<input type="text" name="postalcode" id="postalcode" required  lay-verify="required" placeholder="请输入邮政编码" class="layui-input" value="{$res.postalcode|default=''}">         
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">共享模式</label>
			<div class="layui-input-block">
				<select name="shareMode" lay-verify="required">
					<option value="">- 请选择 -</option>
				</select>         
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">入网日期</label>
			<div class="layui-input-block">
				<input type="text" name="regdate" id="regdate" required  lay-verify="required" placeholder="请输入入网日期" class="layui-input" value="{$res.regdate|default=''}">         
			</div>
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-inline">
			<label class="layui-form-label">开放时段（起）</label>
			<div class="layui-input-block">
				<input type="text" name="ot_b_time" id="ot_b_time" required  lay-verify="required" placeholder="请输入开放时段（起）" class="layui-input" value="{$res.ot_b_time|default=''}">         
			</div>
		</div>
		<div class="layui-inline">
			<label class="layui-form-label">开放时段（止）</label>
			<div class="layui-input-block">
				<input type="text" name="ot_e_time" id="ot_e_time" required  lay-verify="required" placeholder="请输入开放时段（止）" class="layui-input" value="{$res.ot_e_time|default=''}">         
			</div>
		</div>
	</div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="OK">立即提交</button>
            
            <input name="Action" type="hidden" value="{$Action}">
            {if $Action=='Edit'}
            <input type="hidden" name="id" value="{$res.id}">
            {/if}
            
        </div>
    </div>
</form>



{include file='public/footer'}
<script>
    getEditor('content');
    layui.use(['form','laydate','mymod'], function(){
        var form = layui.form
            ,laydate = layui.laydate
            ,mymod = layui.mymod;

        mymod.upfile({
            id:'#upload',
            type:'images',
            url:'__MAN__/upload',
            dir:'__STATIC__/uploadfile'
        });

        //执行一个laydate实例
        laydate.render({
            elem: '#addtime' //指定元素
        });
        //监听提交
        form.on('submit(OK)', function(data){
            //layer.msg(JSON.stringify(data.field));
            //return false;

        });
    });
</script>

</body>
</html>